<body class="asd">
    <img src="../../../assets/images/log-in/background.jpg" alt="" class="background">
    <div class="container">
        <img src="../../../assets/images/Spotify-Logo.wine.svg" alt="" class="container__logo">
        <h2 class="container__h2">Millones de<br>canciones.</h2>
        <p class="container__h2">Gratis en Spotify.</p>
        <button type="button" class="container__button">INICIAR SESIÓN</button>
        <h3 class="container__h3">¿No tienes una cuenta? <a href="" class="container_a">REGÍSTRATE</a></h3>
    </div>
</body>