<div class="background">
    <img src="../../../assets/images/log-in/background.jpg" alt="">
</div>

<div class="container">
    <img src="../../../assets/images/log-in/SpotifyLogoGreen.svg" alt="" class="container__logo">
    <h2 class="container__h2">Millones de<br>canciones.<br>Gratis en Spotify.</h2>
    <button type="button" class="container__button">INICIAR SESIÓN</button>
    <h3 class="container__h3"><b>¿No tienes una cuenta? </b><a class="container_a" [routerLink]="['/singin']">REGÍSTRATE</a></h3>
</div>