<div class="container">

    <div class="container__header">
        <img src="../../../assets/images/log-in/SpotifyLogoBlack.svg" alt="" class="container__header_img">
        <h2 class="container__header_h2"><b>Regístrate gratis para escuchar</b></h2>
    </div>

    <button class="container__header_button">Registrarte con Facebook</button>
    
    <div class="container__separador">
        <hr class="container__separador_hr">
        <h2 class="container__separador_h2">     o     </h2>
        <hr class="container__separador_hr">
    </div>

</div>