<div class="container">

    <div class="container__header">
        <img src="../../../assets/images/log-in/SpotifyLogoBlack.svg" alt="" class="container__header_img">
        <h2 class="container__header_h2"><b>Regístrate gratis para escuchar</b></h2>
    </div>

    <button class="container__header_button">Registrarte con Facebook</button>
    <hr>
    <form [formGroup]="formSignIn">

        <input type="text" placeholder="Mail" formControlName="mail"><br><br>
        <input type="text" placeholder="Name" formControlName="name"><br><br>
        <input type="number" placeholder="Age" formControlName="age"><br><br>

        <button (click)="clickSignIn()">Enviar</button>

    </form>

</div>